
html, body {
	font-family: Helvetica, Arial, sans-serif;
}

body {
	max-width: 800px;
	margin: 0 auto;
	padding: 40px;
}

a {
	color: #6E6E6E;
	text-decoration: none;
}

header{
	display: flex;
	flex-direction: row;
	padding-bottom: 10px;
	align-items: end;
}

header .logo {
	padding: 30px;
	background: #ebebeb;
}

header .title {
	margin-left: 15px;
	font-size: 16pt;
}

nav {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

nav ul {
	padding: 10px 0;
	display: flex;
	list-style-type: none;
	flex-direction: row;
}

nav li {
	margin-right: 20px;
}

nav li.right {
	align-self: center;
	justify-self: center;
}

.post {
	background: #dae8fc;
	margin: 20px 0;
	padding: 15px;
}

.post .title {
	font-weight: bold;
	margin-bottom: 30px;
}

.post .image {
	margin-left: 20px;
}

.post a {
	color: inherit;
	display: flex;
}

.post .bottom {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.post-detailed {

}

.login-form {
	background: #dae8fc;
	margin-top: 30px;
	padding: 30px;

	display: flex;
	flex-direction: column;
}

.login-form label {
	margin-bottom: 15px;
}

.login-form .error {
	background: #fff5f5;
	color: red;
	border: 1px solid red;
	font-weight: bold;
	padding: 20px;
	margin-bottom: 20px;
}
